body {
background-image: url('./components/img/fondoDulce.webp');
background-size: cover;
background-blend-mode: darken;
}

.colorMenu{
  background-color:rgba(0, 0, 0, 0);
}

.colorText{
  color: rgb(63, 48, 200);
  font-size:250%;
}

.fondoImg{
  background-image: url('./components/img/covid-dulces.jpg');
  background-size:25%;
  background-position: top;
  

}


.footer {
  background-color: rgb(12, 31, 12);
  border-top:2px solid red;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: white;
  font-size: 25px;
 }

 .boderColorCard{
  border-color: rgba(255, 255, 255, 0);
 }

 .sizeImg{
  width: '120px';
 }

 .colorMenuList{
  background-color:rgba(0, 0, 0, 0);
  border-color: rgba(255, 255, 255, 0);
}